.favorites {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__title {
    margin-bottom: 20px;
    @include fonts(28px, 33px, 700);
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 42px;
      @include fonts(29px, 42px, 700);
    }
  }

  &__desc {
    margin-bottom: 60px;
    @include fonts(14px, 16px);
    text-align: center;

    @media screen and (min-width: 768px) {
      @include fonts(16px, 19px);
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }

  &__list {
    gap: 20px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 32px;
    }
  }

  &__items {
    display: block;
    @extend %reset-list;
  }

  &__border {
    border: 11px solid $DefaultBorderColor;
    padding: 17px 18px;
    overflow: hidden;
    border-radius: 50%;
    @include transition-base(border);

    @media screen and (min-width: 768px) {
      border: 14px solid $DefaultBorderColor;
      padding: 21px 19px;
    }

    @media screen and (min-width: 1280px) {
      border: 16px solid $DefaultBorderColor;
      padding: 25px 23px;
      border-radius: 50%;
    }

    &:hover {
      border-color: $ImgAccentBorderColor;
    }

    &:focus {
      border-color: $ImgAccentBorderColor;
    }
  }
}

.favorites__items:nth-child(n + 4) {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
