//Font
$PrimaryFont:'Roboto', sans-serif;

$Bgcolor:#FEFEFE;

// Text color
$PraimaryTextColor:#2C2C2C;
$SecondaryTextColor:#000000;
$PlaseholderTextColor: #505050;
$AccentTextColor: #BBF330;
$LinkTextColor:#7EB101;

//Colors
$MainColor:#FFFFFF;


//button color
$ButtonColor: #BBF330;
$AccentButtonColor: #B5FF00;

//border color
$MainBorderColor: #7EB101;
$AccentBorderColor: #597D00;
$DefaultBorderColor: #FFE550;
$ImgAccentBorderColor:#BBF330;
$ErrorBorderColor:#FF705D;


//shadows
$ShadowDeskHeader:0px 4px 4px rgba(0, 0, 0, 0.25);
$ShadowTabMobHeader:  0px 4px 24px rgba(105, 105, 105, 0.1);
$ShadowFooter: 0px -4px 24px rgba(105, 105, 105, 0.1);
$SliderShadow:0px 4px 4px rgba(0, 0, 0, 0.06);
$AccentSliderShadow: 0px 4px 4px rgba(0, 0, 0, 0.16);