<section class="customers-say">
  <div class="container">
    <h2 class="customers-say__title">What our Customers Say</h2>
    <p class="customers-say__descr">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>
    <div class="customers-say__thumb">
      <div class="review">
        <svg class="review__stars" width="101" height="16">
          <use href="./images/icons.svg#Stars"></use>
        </svg>
        <p class="review__descr">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a friend, No questions asked”
        </p>
        <div class="review__client">
          <picture>
            <source
              srcset="
                ./images/costomers/Ellipse-9-48.png 1x,
                ./images/costomers/Ellipse-9-96.png 2x
              "
              type="image/png"
            />
            <img
              class="review__img"
              src="./images/costomers/Ellipse-9-48.png"
              alt="Customer photo"
            />
          </picture>
          <div class="review__client-thumb">
            <h3 class="review__name">Sumith Shah</h3>
            <p class="review__name-descr">Some Dude</p>
          </div>
        </div>
      </div>
      <div class="review">
        <svg class="review__stars" width="101" height="16">
          <use href="./images/icons.svg#Stars"></use>
        </svg>
        <p class="review__descr">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="review__client">
          <picture>
            <source
              srcset="
                ./images/costomers/woman-48.png 1x,
                ./images/costomers/woman-96.png 2x
              "
              type="image/png"
            />
            <img
              class="review__img"
              src="./images/costomers/woman-48.png"
              alt="Customer photo"
            />
          </picture>
          <div class="review__client-thumb">
            <h3 class="review__name">Sumith Shah</h3>
            <p class="review__name-descr">Some Dude</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
