<section class="favorites" id="menu">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="favorites__galery">
      <ul class="favorites__list">
        <li class="favorites__items">
          <img
            class="favorites __img favorites__border"
            srcset="
              ./images/favorites/gamburger-223.png 223w,
              ./images/favorites/gamburger-268.png 268w,
              ./images/favorites/gamburger-315.png 315w,
              ./images/favorites/gamburger-446.png 446w,
              ./images/favorites/gamburger-536.png 536w,
              ./images/favorites/gamburger-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, (max-width: 480px) 223px, 100vw"
            src="./images/favorites/gamburger-223.png"
            alt="gamburger"
          />
        </li>
        <li class="favorites__items">
          <img
            class="favorites__img favorites__border"
            srcset="
              ./images/favorites/pasta-223.png 223w,
              ./images/favorites/pasta-268.png 268w,
              ./images/favorites/pasta-315.png 315w,
              ./images/favorites/pasta-446.png 446w,
              ./images/favorites/pasta-536.png 536w,
              ./images/favorites/pasta-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, (max-width: 480px) 223px, 100vw"
            src="./images/favorites/pasta-223.png"
            alt="pasta"
          />
        </li>
        <li class="favorites__items">
          <img
            class="favorites__img favorites__border"
            srcset="
              ./images/favorites/pizza-223.png 223w,
              ./images/favorites/pizza-267.png 268w,
              ./images/favorites/pizza-315.png 315w,
              ./images/favorites/pizza-446.png 446w,
              ./images/favorites/pizza-534.png 534w,
              ./images/favorites/pizza-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, (max-width: 480px) 223px, 100vw"
            src="./images/favorites/pizza-223.png"
            alt="pizza"
          />
        </li>
        <li class="favorites__items favorites__border">
          <img
            class="favorites__img"
            srcset="
              ./images/favorites/chicken-267.png 267w,
              ./images/favorites/chicken-315.png 315w,
              ./images/favorites/chicken-534.png 534w,
              ./images/favorites/chicken-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, (max-width: 480px) 223px, 100vw"
            src="./images/favorites/chicken-267.png"
            alt="chicken"
          />
        </li>
        <li class="favorites__items favorites__border">
          <img
            class="favorites__img"
            srcset="
              ./images/favorites/salat-268.png 268w,
              ./images/favorites/salat-315.png 315w,
              ./images/favorites/salat-536.png 536w,
              ./images/favorites/salat-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, (max-width: 480px) 223px, 100vw"
            src="./images/favorites/salat-268.png"
            alt="salat"
          />
        </li>
        <li class="favorites__items">
          <img
            class="favorites__img favorites__border"
            srcset="
              ./images/favorites/borshch-267.png 267w,
              ./images/favorites/borshch-315.png 315w,
              ./images/favorites/borshch-534.png 534w,
              ./images/favorites/borshch-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, (max-width: 480px) 223px, 100vw"
            src="./images/favorites/borshch-267.png"
            alt="borshch"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
