<section class="footer">
  <div class="footer__container container">
    <h2 class="visually-hidden">Footer</h2>
    <div class="footer__hight-side">
      <div class="footer-nav">
        <a href="./" class="footer__logo"
          ><img
            srcset="./images/logo_66_1x.png 1x, ./images/logo_66_2x.png 2x"
            src="./images/logo_66_1x.png"
            alt="logo"
          />
        </a>
        <nav class="footer-nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#home">Home</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#about">About</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#service">Service</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#menu">Menu</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-subsc">
        <h3 class="subscribe-title">Subscribe</h3>
        <form class="form-subscription footer__form-subscription" novalidate>
          <input
            class="form-subscription__input footer-form-subscription__input"
            type="email"
            name="email"
            autocomplete="off"
            pattern="[^@\s]+@[^@\s]+"
            placeholder="Enter your email"
            required
          />
          <div
            class="contact-form-notfication footer__contact-form-notfication"
          >
            <svg class="notfication__icon" width="12" height="22">
              <use href="./images/icons.svg#sign"></use>
            </svg>
            <span> Not a valid email address (example@email.com) </span>
          </div>

          <button class="subscription__btn-footer" type="submit">
            Subscribe
          </button>
        </form>

        <div class="policy">
          <p class="policy__dsc">By subscribing you agree to with our</p>
          <a class="policy__link" href="">Privacy Policy</a>
        </div>
      </div>
    </div>

    <div class="footer-info">
      <ul class="footer-info__list">
        <li class="footer-info__item">
          <a class="footer-info__link" href="">Privacy Policy</a>
        </li>
        <li class="footer-info__item">
          <a class="footer-info__link" href="">Terms of Service</a>
        </li>
        <li class="footer-info__item">
          <a class="footer-info__link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</section>
