<section class="offerings" id="service">
  <div class="container offerings__container">
    <div class="img-set--wrap">
      <div class="img__border">
        <div class="img__background">
          <img
            srcset="
              ./images/Offerings/apple201.png 201w,
              ./images/Offerings/apple257.png 257w,
              ./images/Offerings/apple396.png 396w,
              ./images/Offerings/apple402.png 402w,
              ./images/Offerings/apple514.png 514w,
              ./images/Offerings/apple792.png 792w
            "
            sizes="(min-width: 1280px) 396px, (min-width: 768px) 257px, (min-width: 320px) 202px, 100vw "
            src="./images/Offerings/apple792.png"
            alt="apple"
            class="img"
          />
        </div>
      </div>

      <div class="img--blur--wrap">
        <img
          class="img--blur"
          srcset="
            ./images/Offerings/apple_blur166.png 166w,
            ./images/Offerings/apple_blur332.png 332w
          "
          sizes="(min-width: 768px) 166px, 100vw"
          src="./images/Offerings/apple_blur166.png"
          alt="apple"
        />

        <img
          class="img--blur bl"
          srcset="
            ./images/Offerings/apple_blur108.png 108w,
            ./images/Offerings/apple_blur216.png 216w
          "
          sizes="(min-width: 768px) 108px, 100vw"
          src="./images/Offerings/apple_blur166.png"
          alt="apple"
        />
      </div>
    </div>

    <div class="offerings__title--wrap">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <ul class="offerings__list">
        <li class="offerings__item">
          <div class="offerings__item__icon--bg">
            <svg class="offerings__item__icon" width="32" height="32">
              <use href="./images/icons.svg#rocket"></use>
            </svg>
          </div>

          <h3 class="offerings__item__title">Fastest Delivery</h3>
          <p class="offerings__item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>

        <li class="offerings__item">
          <div class="offerings__item__icon--bg">
            <svg class="offerings__item__icon" width="32" height="32">
              <use href="./images/icons.svg#touch"></use>
            </svg>
          </div>
          <h3 class="offerings__item__title">Easy To Order</h3>
          <p class="offerings__item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>

      <button class="offerings__btn" type="button">Order Now</button>
      <a href="" class="offerings__link"
        >Read More
        <svg class="offerings__link__icon" width="14" height="14">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
